#catalog-block
  h1 = t(:catalog)
  #catalog-brand-block
    h3 = t(:brand)
    select.form-control ng-model="selected.brand" ng-change="update_selected_brand_models()" ng-options="brand as brand.name for brand in brand_list"
      option value="" = t(:brand)

  #catalog-model-block ng-if="selected.brand"
    h3 = t(:model)
    select.form-control ng-model="selected.model" ng-change="update_model_info()" ng-options="m as m.name for m in selected_brand_models"
      option value="" = t(:model)

  #catalog-model-info-block ng-if="selected.model"
    div ng-repeat="(group, specs) in model_info"
      h4 = "{{group}}"
      table.table
        tr ng-repeat="(key, value) in specs"
          td = "{{key}}"
          td = "{{value}}"
