form.form-inline#finder-block
  h1 = t(:finder)
  input.form-control type="text" placeholder="Search for models" ng-model="finder.input"
  button.btn.btn-primary ng-click="search_model()" = "Find!"
  br

  div ng-if="found_models && found_models.length > 0"
    h4 = t(:found_models)
    ul
      li ng-repeat="model in found_models" = "{{model.name}}"
